body
{
    padding:10px;
    font-family:Arial;
    font-size:15px;
    color: #595959;
}
.black {
    color: black;
}
.main {
    margin-top: 10px;
    padding: 20px 10px;
    text-align:center;
    background-color:#e6e6e6;
    border-radius:8px;
}
.img-div {
    margin: 10px;
    text-align: center;
    background-color:#ffffff;
}
.list {
    max-width: 550px;
    margin: 0 auto;
    text-align: left;
    line-height: 1.8;
}
.list li {
    margin-bottom:15px;   
}
.last_p_tag {
    margin-top: 50px;
}